.login-page {
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
}

.login-card {
  width: 30%;
  min-width: 300px;
  margin: auto;
  top: 30%;
  background-color: rgba(245, 245, 245, 0.9);
}
