.login-page {
  background: url("../../../assets/img/open-book.jpeg");
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 30%;
  min-width: 300px;
  margin: auto;
  top: 30%;
  background-color: rgba(245, 245, 245, 0.9);
}

.login-field {
  width: 100%;
}

.login-button {
  width: 100%;
  line-height: 45px;
}

.signup {
  line-height: 35px;
  text-align: center;
  span {
    color: rgb(80, 80, 80);
  }
}
