/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #a5714a;
}

.snackbar-error {
  background-color: darkred;
  color: whitesmoke;
}

.snackbar-success {
  background-color: green;
  color: whitesmoke;
}

.mat-simple-snackbar-action {
  color: whitesmoke;
}
