.mat-card {
  margin: 10px 0px;
  width: 45%;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.9);
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

.mat-card-actions {
  bottom: 20px;
  position: static;
  width: 100%;
  text-align: center;
}

.mat-card-actions button {
  font-size: 20px;
  line-height: 45px;
}

@media (max-width: 950px) {
  .mat-card {
    margin: 10px 0px;
    width: 90%;
  }

  .mat-card-actions {
    bottom: 0px;
  }
}
